@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu a {
        border-radius: 7px;
    }

    menu a:hover {
        background-color: rgba(192, 191, 191, 0.911);
        color: black;
        font-weight: bold;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        width: 768px;
    }
}